<div class="container">
  <h1>Souding Board</h1>
  <h3>Share a song</h3>

  <%= form_for :post, :url => { :action => "create" } do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %> *
    <br>
    <%= f.label :motivation %>:
    <%= f.text_field :motivation %>
    <br>
    <%= f.label :song_name %>:
    <%= f.text_field :song__id%> *
    <br>
    <%= f.submit "Create Post" %>
  <% end %>

  <br><br>

  <p>* Required field</p>
</div>