<div class="container">
<h2> Share your latest favorites for others to hear</h2>
<%= form_for :get, :url => { :action => "search"} do |f| %>
<%= f.label :search %>
<%= f.text_field :search %> 
<br>
<%=f.submit "Search Posts"%>
<% end %> 

<h2> Search Posts</h2>

<br>
<br>
<div class="recent_log"> 
  <h4>Most Recent Posts </h4><br>
  <%posts = Post.find(:all, :order => "id", :limit => 5).reverse %>
  <% posts.each do |post| %>
  <li> <%= post.title %> </li><br>
  <% end %>
</div>
<h2> Search By Category</h2>


</div>

