<!DOCTYPE html>
<html>
<head>
  <title>SoundingBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-example">
          <div class="navbar navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand" href='/'>Sounding Board</a>
            </div>

            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <% if session[:current_user_id] != nil %>
                <%= form_for :user, :url => { :action => "logout", :controller => "users" } do |f| %>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= f.submit "Logout", :id => "logout", :class => "btn btn-primary" %></li>
                  <li><%= link_to("Create Post", posts_new_path) %></li>
                  <li><%= link_to("My Post", my_posts_path) %> </li>
                </ul><!-- end of class="nav navbar-nav navbar-right" -->
                <% end %>

              <% else %>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to("Login", login_path) %></li>
                  <li><%= link_to("Sign Up", new_user_path) %></li>
                </ul><!-- end of class="nav navbar-nav navbar-right" -->
              <% end %>
            </div><!-- /.nav-collapse -->
          </div><!-- /.navbar default-->

<%= yield %>

        </div> <!-- end of div class="col-lg-12" -->
      </div> <!-- end of div class="row" -->
    </div> <!-- end of div class="container" -->
    <div class="push"></div>
  </div> <!-- end of div class="wrapper" -->

  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <div id="footer">
            Made by Team Delta. © 2013 Most Rights Reserved - TeamDelta.com.
          </div>
        </div>
      </div>
    <footer>
  </div> <!-- end of div class="container" -->

</body>
</html>
